@model MediaTracker.Models.Book
<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Released" class="control-label"></label>
                <input asp-for="Released" class="form-control" />
                <span asp-validation-for="Released" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edition" class="control-label"></label>
                <input asp-for="Edition" class="form-control" />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapters" class="control-label"></label>
                <input asp-for="Chapters" class="form-control" />
                <span asp-validation-for="Chapters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Illustrations" /> @Html.DisplayNameFor(model => model.Illustrations)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Translated" /> @Html.DisplayNameFor(model => model.Translated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Translator" class="control-label"></label>
                <input asp-for="Translator" class="form-control" />
                <span asp-validation-for="Translator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalLanguage" class="control-label"></label>
                <input asp-for="OriginalLanguage" class="form-control" />
                <span asp-validation-for="OriginalLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Binding" class="control-label"></label>
                <select asp-for="Binding" class="form-control"></select>
                <span asp-validation-for="Binding" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasMap" /> @Html.DisplayNameFor(model => model.HasMap)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dislikes" class="control-label"></label>
                <input asp-for="Dislikes" class="form-control" />
                <span asp-validation-for="Dislikes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>